<div class="job-detail-container">
  <h2>{{ job?.jobTitle }}</h2>
  <p><strong>Type:</strong> {{ job?.jobType }}</p>
  <p><strong>Created On:</strong> {{ job?.creationDate | date }}</p>
  <p><strong>Experience Level:</strong> {{ job?.experienceLevel }}</p>
  <p><strong>Company:</strong> {{ job?.company }}</p>
  <p><strong>Location:</strong> {{ job?.location }}</p>
  <p><strong>Qualifications:</strong> {{ job?.qualifications }}</p>
  <p><strong>Description:</strong> {{ job?.description }}</p>

  <div class="actions">
    <button mat-raised-button color="primary" (click)="applyJob()">Apply for Job</button>
    
    <!-- Conditionally show Edit and Delete buttons -->
    <button *ngIf="isHrRoute" mat-raised-button color="accent" (click)="editJob()">Edit</button>
    <button *ngIf="isHrRoute" mat-raised-button color="warn" (click)="confirmDelete()">Delete</button>

    <button mat-button (click)="close()">Close</button>
  </div>
</div>
