<header>
    <mat-toolbar color="primary" class="header-toolbar">
      <!-- Logo and Home link -->
      <div class="logo">
        <a class="logo-link">
          <span class="material-icons">work</span>
          <span>Opportune</span>
        </a>
      </div>
  
     
  
      <!-- Create Job Button (conditional) -->
      <button mat-raised-button color="accent" (click)="createJob()">Create Job</button>
  
      <!-- Logout Button -->
      <button mat-raised-button color="warn" (click)="logout()">Logout</button>
    </mat-toolbar>
  </header>
  