.header-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    display: flex;
    align-items: center;
   
  }
  
  .logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
  }
  
  .logo-link .material-icons {
    margin-right: 8px;
  }
  
  .nav-tabs a {
    margin: 0 10px;
  }
  
  .spacer {
    flex-grow: 1;
  }
  