<div class="job-search-container">
    <!-- Search Input -->
    <mat-form-field class="example-form-field">
      <mat-label>Search</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="searchKeyword"
        (input)="searchJobs()"
        placeholder="Search by job title"
      />
      <button matSuffix mat-icon-button aria-label="Clear">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  
    <!-- Job Type Filter -->
    <mat-form-field>
      <mat-label>Job Type</mat-label>
      <mat-select [(ngModel)]="jobTypeFilter" (selectionChange)="searchJobs()">
        <mat-option value="">All Job Types</mat-option>
        <mat-option value="Full-time">Full-time</mat-option>
        <mat-option value="Part-time">Part-time</mat-option>
        <mat-option value="Contract">Contract</mat-option>
      </mat-select>
    </mat-form-field>
  
    <!-- Experience Level Filter -->
    <mat-form-field>
      <mat-label>Experience Level</mat-label>
      <mat-select [(ngModel)]="experienceFilter" (selectionChange)="searchJobs()">
        <mat-option value="">All Experience Levels</mat-option>
        <mat-option value="Junior">Junior</mat-option>
        <mat-option value="Mid-level">Mid-Level</mat-option>
        <mat-option value="Senior">Senior</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  <!-- Job Listings -->
  <div class="job-list-container">
    <div
      class="job-list"
      *ngFor="let job of filteredJobs"
      (click)="openJobDetail(job)"
    >
      <h3>{{ job.jobTitle }}</h3>
      <p>Type: {{ job.jobType }}</p>
      <p>Experience Level: {{ job.experienceLevel }}</p>
      <p>Company: {{ job.company }}</p>
  
     
    </div>
  </div>
  